@model (string UserRole, List<pojekt.Models.ProductModel> Products)

@{
    ViewData["Title"] = "Home Page";
}
<p>@Model.UserRole</p>
<h1>Produkty</h1>
<p>Rola użytkownika: @Model.UserRole</p>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Kategoria</th>
            <th>Cena</th>
            <th>W Magazynie</th>
            @if (Model.UserRole == "User")
            {
                <th>Ilość do zamówienia</th>
                <th>Akcja</th>
            }
            @if (Model.UserRole == "Admin")
            {
                <th>Akcja</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Category</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>

                @if (Model.UserRole == "User")
                {
                    <form asp-action="Order" method="post">
                        <input type="hidden" name="productId" value="@product.ProductId" />
                    <td>
                        <input type="number" name="quantity" min="1" value="0" max="@product.Quantity" class="form-control" style="width: 80px;" />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Order</button>
                    </td>
                    </form>
                }

                @if (Model.UserRole == "Admin")
                {
                    <td>
                        <a href="@Url.Action("Edit", "Home", new { id = product.ProductId })" class="btn btn-warning">Edytuj</a>
                        <form asp-action="Delete" method="post" style="display:inline-block;">
                            <input type="hidden" name="productId" value="@product.ProductId" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Na pewno chcesz usunąć ten produkt?');">Usuń</button>
                        </form>
                    </td>
                }

                
            </tr>
            
        }

        @if (Model.UserRole == "Admin")
        {
            <a href="@Url.Action("AddProduct", "Home")" class="btn btn-success mb-3">Dodaj produkt</a>
        }
    </tbody>
</table>
